[Unit]
Description=Watt Up
After=network-online.target
[Service]
Type=simple
Restart=always
User=carlo
WorkingDirectory=/home/carlo/Desktop/watt-up
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target
